.delivery-item-cover{
 height: 196px;
 width: 197px;
 /* background-color: var(--primary-bg); */
 /* box-shadow: var(--collection-shadow); */
 border-radius: 8px;
 /* margin: auto; */
 margin: 0px auto;
 /* margin-left: 25px; */
}
.delivery-item-image{
 object-fit: cover;
 height: 80%;
 width: 82%;
 border-radius: 50%;
 /* text-align: center; */
}
.delivery-item-title{
 font-size: 20px;
 font-weight: 500;
  padding-right: 36px;

 text-overflow: ellipsis;
 overflow: hidden;
 margin-top: 6px;
 /* padding-left: 70px; */
 /* justify-content: center; */
 text-align: center;
 /* padding: 0px ; */
}


